
#container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#quiz_end_card{
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}